
form {
    padding: 6px;
    
    width: 40vw;
    min-width: 60ch;

    top: 4vh;
    margin: auto;
    
    border-radius: 4px;
    border: 1px solid lightgray;
}

.form-control { margin: 8px 0; }
