:root {
    --primary-bg-color: #2f383d;
    --primary-fn-color: #fffe;

    --secondary-bg-color: #000c14ef;
    --secondary-fn-color: #fffa;
}

body { 
    background-image: url(https://www.wallpapertip.com/wmimgs/15-152580_coding-background.jpg);
    background-position: center;
    background-size: contain;  
}

#hiddenForm {
    top: 40px !important;
}
    #hiddenForm form{
        padding: 10px 5px;
        border-radius: 10px;
    }


.editButton, .removeButton {
    display: none;
}

article {
    margin: 2vh 0;
}

#about {
    background: var(--secondary-bg-color);
    color: var(--secondary-fn-color);

    padding: 15px 0;
}

    #about img {
        max-height: 250px;
        min-width: 120px;
    }
    #about figcaption {
        text-decoration: underline;
        font-style: italic;
    }
    #about-text {
        max-width: 850px;
    }
    #about-text h3 {
        text-shadow: 0 0 20px whitesmoke;
    }
    

#experience {
    background: var(--primary-bg-color);
    color: var(--primary-fn-color);

    padding: 10px 6px;
}
    #experience h3 {
        display: inline-block;

        font-size: 1.7em;
        color: var(--primary-bg-color);
        text-shadow: 0 0 3px var(--primary-fn-color);
    }

    #experience .card {
        margin: 6px 4px;
        outline: 1px solid white;
        
        max-width:35rem; 
        width: 15%; 
        min-width: 18rem;
        height: fit-content;
    }
    #experience .card h5 {
        font-weight: bolder;
    }


#education {
    background: var(--primary-bg-color);
    color: var(--primary-fn-color);
}
    #education h3 {
        text-decoration: underline;
    }
    #education ol {
        padding: 5% 10%;
    }
    #education li div {
        width: 100%;
    }
    #education li div button {
        width: 20%;
    }


#skills  {
    background: var(--secondary-bg-color);
    color: var(--secondary-fn-color);

    padding: 1% 2%;
}

    #skills > div {
        padding: 4% 0;
    }
    #skills .progress {
        color: #000000c4;
        margin: 6px 0;
        height: min-content;
    }
    #skillsEditor thead, #skillsEditor tbody {
        width: 100%;
    }


#proyects {
    background: var(--primary-bg-color);
    color: var(--primary-fn-color);

    padding-bottom: 40px;
}

    #proyects h3 {
        padding: 1% 10%;
    }
    #proyects .carousel-caption {
        text-shadow: 0 0 8px black;
    }
    #proyects img {
        max-height: 100vh;
        object-fit: contain;
        width: 80% !important;
        display: block;
        margin: auto;
    }